@model BlogCore.Models.ViewModels.ArticuloVM

@{
    ViewData["title"] = "Editar Articulo";
}

<br />
<br />
<h3 class="text-center">Editar Artículo</h3>
<form method="post" asp-action="Edit" enctype="multipart/form-data">

    @* //Enviamos el ID del articulo como un campo oculto *@
    <input type="hidden"  asp-for="Articulo.Id"/>

    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="All" class="text-danger"></div>@* ModelOnly lo que va a hacer es validar los datos que esten en el modelo indicando con rojo el texto faltante *@
        <div class="col-10 offset-1 mt-4">

            <div class="form-group row">
                <div class="col-4">
                    @* <label asp-for="Nombre"></label>
                    Lo comentado lo dejo a modo de ejemplo. Como ahora trabajamos a traves del VM y no del modelo directamente, tenemos que indicar que Nombre lo obtendremos de Articulo
                    *@
                    <label asp-for="Articulo.Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Articulo.Nombre" class="form-control" placeholder="Ingrese el nombre" />
                    <span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Articulo.Descripcion"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Articulo.Descripcion" class="form-control" style="height: 300px"></textarea>
                    <span asp-validation-for="Articulo.Descripcion" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label for="Categoría">Categoría</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Articulo.CategoriaId, Model.ListaCategorias, "Seleccione una categoría", new { @class = "form-control" })
                    <span asp-validation-for="Articulo.CategoriaId" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="d-flex justify-content-center">
                <img src="@Model.Articulo.UrlImagen" width="300px" style="border-radius:5px; border: 1px solid #bbb9b9" />
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Articulo.UrlImagen"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="archivo" id="subidaArchivo" class="form-control" />
                    <span asp-validation-for="Articulo.UrlImagen" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group-row">
                <div class="col-8 mx-auto">
                    <br />@* En la vista crear lo hicimos con un PARCIAL, en este caso lo hacemos en la misma vista*@
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control">Editar categoría</button>
                        </div>
                        &nbsp; @* Agrega un espacio horizontal *@
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">Volver atrás</a>
                        </div>
                    </div>
                    <br />
                </div>
            </div>            

            <br />

        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.5.1/tinymce.min.js" integrity="sha512-8+JNyduy8cg+AUuQiuxKD2W7277rkqjlmEE/Po60jKpCXzc+EYwyVB8o3CnlTGf98+ElVPaOBWyme/8jJqseMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        })
    </script>
}